#div1 {
    height: 200px;
    background-image: linear-gradient(to right,red, yellow)

}
#div2 {
    height: 200px;
    background-image: linear-gradient(45deg, red,orange,yellow,green,blue,indigo,violet);
}

#earth {
    display: inline-block;
    width: 30%;
    
}

#intro {
    display: inline-block;
    margin-left: 5%;
    width: 60%;
}

.inline_block {
    vertical-align: middle;
}
