
body {
    margin: 0%;
    background-color: red;
}
h1 {
    color: black;
    border: solid 18px;
    text-align: center;
    margin-top: 0%;
    font-size: 150px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 102px;
}

#team {
    margin-top: -101px;
    width: 70%;
    margin-left: 15%;
}

h2 {
    color: black;
    border: solid 8px;
    text-align: center;
    font-size: 50px;
    font-family: Helvetica, Arial, sans-serif;

}

.intro {
    color: black;
    border: solid;
    border-width: 0px 8px;
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-top: -42px;

}

span {
    color: gold;
}

#Player {
    margin-top: -30px;
}

.Shevchenko {
    width: 28%;
    display: inline-block;
    margin-left: 4%;

}

.Pirlo {
    width: 28%;
    display: inline-block;
    margin-left: 4%;
}

.Nesta{
    width: 28%;
    display: inline-block;
    margin-left: 4%;
}

.Siro {
    width: 100%;
    margin-top: -42px;
}

.Stadium {
    border: solid;
    border-width: 8px;
    color: black;
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-top: -4px;
}

.email {
    font-size: 40px;
    display: block;
    color: red;
    background-color: black;
    width: 20%;
    text-align: center;
    text-decoration: none;
    margin-left: 40%;
    border-radius: 5%;
    transition-duration: 2s;

}

.email:hover {
    background-color: black;
    color: gold;
    border-radius: 50%;
}

.email:active {
    color: gold;
    font-size: 80px;
}